# Node / dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / bundler
.expo/
.expo-shared/
.expo/*cache*/
dist/
web-build/
.cache/

# Sistemas operativos / editores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Env / credenciales (¡no subas secretos!)
.env
.env.*
*.keystore
*.jks
*.p12
*.pem
*.mobileprovision
google-services.json
GoogleService-Info.plist
*.key

# Android/iOS (si alguna vez expulsas/eject)
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
ios/build/
ios/DerivedData/
Pods/

# Tests / coverage (si usas)
coverage/
coverage/**/*
.jest/**/*
